.todo{
    background: #17202A;
    display:flex;
  }
  .squart{
    background: #A569BD;
    line-height:100px;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  
  .circle{
    background: #FCF3CF;
    line-height:150px;
    width: 200px;
    height: 200px;
    border-radius: 360px;
    margin: 20px;
  }
  
  .rect{
    background: #ABEBC6;
    width: 250px;
    height: 150px;
    margin: 40px;
  }
  
  .triangle{
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-left: 100px solid #F5B7B1;
    border-bottom: 100px solid #F5B7B1;
   
  }